<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='../static/login.css?16.2'>
    <title>Login</title>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand nav-list" href="#">CeebsSurvey</a>
    </div>
      <ul class="nav navbar-nav">
        <!-- <li id="inactive" class="nav-list"><a href="/">Home</a></li> -->
        <!-- <li class="nav-list"><a href="/questions">Questions</a></li> -->
        <li id="active" li class="nav-list"><a href="/studentHome">Home</a></li>
        <!-- <li id="inactive" class="nav-list"><a href="/createQuestion">Create Questions</a></li> -->
        <!-- <li><a href="/createSurvey" class="nav-list">Create Survey</a></li> -->
      </ul>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="nav-list"><a href="/login">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>



<div id='page' class='jumbotron'>
  <h1>Home Page</h1>
    <p>
    Welcome to the survey system. You are signed in as a guest.
    </p>
    <p>
      {% if sDict|length != 0 %}
  <b>You have incomplete surveys pending</b>
    {% endif %}

    </p>
<hr>
<hr>
<br><br>
<form method="post">
  {% for s in sDict %}
      <span><a href = "http://localhost:8004/survey/{{sDict[s].getID()}}">{{sDict[s].getName()}}</a></span>
      <h5 class="status-creation" width="20px" height="10px">Incomplete</h5>
      <br>
      <p>Courses: <span>{%for c in sDict[s].getCourses()%} {{cDict[c].getName()}}  {{cDict[c].getSem()}}, {%endfor%}</span></p>
      <br><hr>
  {% endfor %}
  <h3>Open Results</h3>
  {%for s in sDict%}
      {%if sDict[s].getStatus() == 3 and (sDict[s].getOpen() == None or sDict[s].getOpen() < now) %}
        <p>Name: <a href="http://localhost:8004/results/{{s}}">{{sDict[s].getName()}}</a></p>
        <br><hr>
      {%endif%}
  {%endfor%}
</form>


<br>
<hr>


<br>
<hr><br>

</div>
</body>
  <script type="text/javascript" src='../static/jquery.js?1.1'></script>
  <script type="text/javascript" src='../static/login.js?2.1'></script>
</html>



 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->
