<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='../static/login.css?16.2'>
    <title>Login</title>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand nav-list" href="/">CeebsSurvey</a>
    </div>

  </div>
</nav>


<div id='page' class='jumbotron'>
  <h1>Thank You!</h1>
    <p style="text-align: center">Your response has been recorded. You can now close this window.</p>
<hr>


<br>
<hr><br>

</div>
</body>
  <script type="text/javascript" src='../static/jquery.js?1.1'></script>
  <script type="text/javascript" src='../static/login.js?2.1'></script>
</html>



 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->
